<?xml version="1.0" encoding="UTF-8"?>
<!--  dtd 문서정의 파일을 가져와야 태그가 자동으로 올라옴 -->
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<!-- Connection (getConnection(),disConnection()) -->
<configuration>
	<!-- 오라클 정보를 넘길때 쓰는 것: environments -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<!-- 
				transactionManger에는 2가지가 있다. transaction=commit,rollback을 누가 관리할 것이냐
				JDBC : 자바(자동) 
				MANAGED :관리자가 관리
			 -->
			<dataSource type="POOLED">
			<!-- 
				DataSource : 데이터의 모든 정보를 가지고 있는 클래스(데이터베이스의 VO)
				driver,url,username,password,maxActive...
				
				DataSource의 type 3가지
				POOLED : DBCP (미리만들어 놓고 주소값 넘겨줌)
				UNPOLED : 연결할때마다 connection생성 초창기 DAO
				JNDI: 미리설정(외부)
			 -->
			 	<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
			 	<property name="url" value="jdbc:oracle:thin:@localhost:1521:ORCL"/>
			 	<property name="username" value="scott"/>
			 	<property name="password" value="1234"/>
			 	<!-- maxActive(최대 연결갯수)=8, maxIdle=8 default로 지정된다. -->
			</dataSource>
		</environment>
	</environments>
</configuration>